<p>Bonjour {{ user.firstName }} {{ user.lastName }},</p>
<p>Vous pouvez activer votre compte sur Snowtricks en cliquant sur le lien suivant :</p>
<p><a href="/activate/{{ user.getTokenActivation }}">activer mon compte</a></p>