<p>Bonjour {{ user.firstName }} {{ user.lastName }},</p>
<p>Voici le lien pour réinitialiser votre mot de passe :</p>
<p><a href="http://snowtricks.local/reset-password/{{ user.getTokenResetPassword }}">cliquez ici</a></p>