<nav>
    <ul class="nav masthead-nav">
        <li class="active"><a href="#">Accueil</a></li>
        <li><a href="#">Se connecter</a></li>
        <li><a href="#">S'enregistrer</a></li>
    </ul>
</nav>