{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Page d'accueil{% endblock %}

{% block body %}

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Snowtricks</h3>
                        {% include "navbar.html.twig" %}
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Bienvenue sur Snowtricks</h1>
                    <p class="lead">Premier annuaire communautaire des figures de Snowboard</p>
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-default">Voir les figures</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="tricks-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Toutes les figures</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html.twig" %}

{% endblock %}
