{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Ajouter un trick{% endblock %}

{% block body %}

    {% include "header.html.twig" %}

    <div class="trick-add-wrapper main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Ajouter une figure</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html.twig" %}

{% endblock %}
