/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/** Headings **/
h2{
  margin: 20px 0 30px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/* Nav */
nav.navbar-default{
  text-shadow: none;
  .navbar-brand{
    color: #333;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Trick wrapper
 */

.thumbnail > img{
  width: 100%;
  height: 200px;
}

/*
 * Footer
 */

footer{
  background: #333;
  padding: 15px 0;
}

/*
 * Main container
 */

.main-container{
  padding: 35px 0;
  color: #333;
  a.trick-title{
    color: #333;
  }

  &.trick-add-wrapper a, &.trick-edit-wrapper a{
    color: #333;
  }

}

/**
 * Flex tools
 */
.flex-container{
  display: flex;
}

/**
 * Comments
 */
.comment-container:first-of-type{
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 15px;
}

.comment-container{
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.comment-content{
  margin: 0 10px 0 20px;
  text-align: left;
}

#load-more-comment{
  margin-top: 20px;
}

/** Others **/
.trick-interact{
  &:hover{
    text-decoration: none;
  }

  &.trick-jumbotron{
    color: #333;
  }
}

.delete-media{
  display: block;
  margin: 10px;
  color: #333;
  &:hover{
    text-decoration: underline;
    color: #333;
  }
}

.image-edit{
  max-height: 175px;
}

#image-fields-list{
  list-style-type: none;
  display:flex;
  li{
    padding: 10px;
  }
}

.register-container button{
  margin: 0 auto;
  display: block;
}

h1{
  margin-bottom: 20px;
}

/** Responsive **/

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}
