{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Nouveau mot de passe{% endblock %}

{% block body %}

    <div class="trick-add-wrapper main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h1 class="text-center">Mot de passe</h1>
                    {% include "alert-success.html.twig" %}
                    {% include "alert-danger.html.twig" %}
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}